@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:hover {
  .clickable {
    cursor: pointer;
  }
}